<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="Product/ProductMain.css" />
<link rel="stylesheet" href="Product/global.css" />
<!--<th:block th:insert="/header.html"></th:block>-->

 <script>
function selectAll(selectAll) {
			const selects
				= document.querySelectorAll('input[type="select"]');

			checkboxes.forEach((select) => {
				select.checked = selectAll.checked
			})
		}

function checkSelectAll()  {
  // 전체 체크박스
  const selects 
    = document.querySelectorAll('input[name="select"]');
  // 선택된 체크박스
  const checked 
    = document.querySelectorAll('input[name="select"]:checked');
  // select all 체크박스
  const selectAll 
    = document.querySelector('input[name="selectAll"]');
  
  if(checkboxes.length === checked.length)  {
    selects.checked = true;
  }else {
    selects.checked = false;
  }

}
 </script>

</head>
<body>
	<div class="container">
		
		<div class="top">
		<img src="/img/home.png">
		<img src="/img/arrow_right_pink.png">
		<span>생산지시관리</span>
		</div>
		
		<div class="top_title">
			<table>			
				<tr>
					<th>생산지시 관리</th>
				</tr>	
				<tr>
					<td class="none"><span class="pink">0개의</span> 데이터가 조회되었습니다.</td>
				</tr>
			</table>
		</div>
		
		<div class="date_container">
			<table>
				<tr>
					
					<td class="date_start",>생산시작일자</td>
					<td><input class="date1" type="datetime-local"></td>
					<td class="date_end">생산종료일자</td>
					<td><input class="date2" type="datetime-local"></td>
			
				</tr>
			</table>
		</div>
			
		<div class="condition">
			<table>
				<tr>
					<td>전체()</td>
					<td>생산대기()</td>
					<td>생산중()</td>
					<td>생산완료()</td>
			
		</div>
		<div class="search">
					<form method="post">
						<label>
							<td class="search_td"><input class="search_img"type="search" placeholder="검색"></td>
							<td class="btn_td"><input class="search_btn"type="submit" value="검색"></td>
						</label>
					</form>
				</tr>
			</table>
		</div>
		
		<div class="content_title">
			<table>
				<tr>
					<td><input type="radio" name"selectAll">모두선택</td>
					<td>품목번호</td>
					<td>지시번호</td>
					<td>제품명</td>
					<td>고객업체</td>
					<td>생산등록일</td>
					<td>생산종료일</td>
					<td>생산수량</td>
					<td>생산상태</td>
				</tr>
			
		</div>
		
		<div class="content">
			
					<form method="post">
						<tr>		
							<td><input type="radio" name"select"></td>		
							<td>A010123</td>	
							<td>1</td>	
							<td>제육볶음</td>	
							<td>백종원의골목식당</td>	
							<td>2023.01.09</td>	
							<td>2023.02.16</td>	
							<td>199999</td>
							<td>생산중</td>	
						</tr>
					</form>
			</table>
		</div>
	
		
			
	</div>
</body>
</html>