<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>출하 등록</title>
	<link rel="stylesheet" href="header.css">
	<link rel="stylesheet" href="ProductManagement/productmanagement.css">
</head>

<body>
	<!--<th:block th:insert="header.html"></th:block>-->
	<ul>
		<li>
			<a href="#"> <img src="" />홈 로고넣기 </a>
		</li>
		<li></li>
		<li>출하 관리</li>
		<li></li>
		<li>출하 등록</li>
	</ul>
	<br />
	<br />
	<h3>출하 등록</h3>
	<div>
		<table>
			<tr>
				<td>접수일자<span style="color: red">*</span></td>
				<td><input type="date" /></td>
			</tr>
			<tr>
				<td>납기일자<span style="color: red">*</span></td>
				<td><input type="date" /></td>
			</tr>
			<tr>
				<td>업체 명<span style="color: red">*</span></td>
				<td>
					<input type="text" placeholder="업체명으로 입력해주세요." /><img src="#" />돋보기 아이콘
				</td>
			</tr>
			<tr>
				<td>주소</td>
				<td>검색한 업체명 선택시 해당 주소 자동으로 불러옴</td>
			</tr>
			<tr>
				<td>특이 사항</td>
				<td>특이사항은 필수기재 아님</td>
			</tr>
		</table>
		<br />
		<table>
			<thead>
				<tr>
					<th>품목 번호</th>
					<th>출하 일정</th>
					<th>요청 수량</th>
					<th>출하 수량</th>
					<th>수주 번호</th>
					<th>기사 번호</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="text" placeholder="품목 번호를 선택해주세요." /><button>조회</button>
					</td>
					<td><input type="date" /></td>
					<td>
						<input type="text" placeholder="요청 수량을 입력해주세요." />
					</td>
					<td>
						<input type="text" placeholder="출하 수량을 입력해주세요." />
					</td>
					<td>
						<input type="text" placeholder="수주 번호를 선택해주세요." /><button>조회</button>
					</td>
					<td>
						<input type="text" placeholder="기사 번호를 입력해주세요." />
					</td>
				</tr>
			</tbody>
		</table>
		<div style="float: right">
			<button id="btn_back">돌아가기</button>
			<button id="btn_add">등록</button>
		</div>
	</div>
</body>

</html>