<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ProductManagement/productmanagement.css">
    <title>출하관리 현황</title>
  </head>
  <body>
    <ul>
        <li><a href="#">
            <img src="">홈 로고넣기
        </a></li>
        <li></li>
        <li>출하 관리</li>
        <li></li>
        <li>출하지시 관리</li>
    </ul>
    <br>
    <br>
    <h3>출하관리 현황</h3>
    <p>
        <span>0</span>
        개의 데이터가 조회되었습니다.
    </p>
    <table>
      <tr>
        <td>출하 일자</td>
        <td><input type="date" /> ~ <input type="date" /></td>
        <td>납기 일자</td>
        <td><input type="date" /> ~ <input type="date" /></td>
      </tr>
    </table>
    <div>
      <ul>
        <li>전체</li>
        <li>출고 대기</li>
        <li>출하 중</li>
        <li>출하 완료</li>
      </ul>
      <div id="search" style="float: right">
          <input type="text" placeholder="업체명을 입력해주세요." />
          <button>검색</button>
        </div>
    </div>
    <br>
    <br>
    <table id="table" style="width: 1100px">
      <thead>
        <th><input type="checkbox" id="all_check"></th>
        <th>출하 코드</th>
        <th>접수 일자</th>
        <th>납기 일자</th>
        <th>업체 명</th>
        <th>품목 번호</th>
        <th>출하 일정</th>
        <th>요청 수량</th>
        <th>출하 수량</th>
        <th>재고 수량</th>
        <th>수주 번호</th>
        <th>담당기사 번호</th>
        <th>출하 현황</th>
      </thead>
      <tbody>
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
    <div>
        <button id="btn_delete" style="float: left">선택 삭제</button>
        <button id="btn_add" style="float: right">등록</button>
    </div>
  </body>
</html>
