<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/header/header.css">
</head>
<body>
	<div class="header">
	<table>
		<tr>
				<td><a onclick="history.back()" id="back"><img src="/img/back.png" ></a></td>
				<td><a href="/mainpage/mainpage" ><img src="/img/logo5.png" alt="로고" class="logo2"></a></td>
				<td>
	<ul class="menu">
<li class="bar"><a href="#">발주관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">발주 관리</a></li>
						<li><a href="#">원부재료 관리</a></li>
						<li><a href="#">협력업체</a></li>
					</ul>
				</li>
<li class="bar"><a href="#" >수주관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">수주 관리</a></li>
						<li><a href="#">제품 관리</a></li>
						<li><a href="#">고객 관리</a></li>
					</ul>
				</li>
<li class="bar"><a href="#">공정관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">공정 관리</a></li>
						<li><a href="#">작업 표준 정보</a></li>
						<li><a href="#">통합 레시피</a></li>
					</ul>
				</li>
<li class="bar"><a href="#">생산관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">생산 관리</a></li>
					</ul>
					</li>
<li class="bar"><a href="#">재고관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">재고 관리</a></li>
						<li><a href="#">입고 등록</a></li>
						<li><a href="#">출고 등록</a></li>
						<li><a href="#">창고 관리</a></li>
						<li><a href="#">입/출고 관리</a></li>
						<li><a href="#">입/출고 요청</a></li>
					</ul>
					</li>
<li class="bar"><a href="#">출하관리<img src="/img/down.png" alt="" class="arrow"></a>
					<ul class="submenu">
						<li><a href="#">출하 관리</a></li>
					</ul>
					</li>
			</ul>
				</td>
				</tr>
		</table>
	</div>

</body>
</html>