 * {
      margin: 0;
      padding: 0;
    }
    table {
      border: 1px solid #242424;
      border-collapse: collapse;
      width: 1100px;
    }
    td,
    th {
      border: 1px solid #242424;
    }
    th {
      margin: 0;
    }
    ul,
    li {
      float: left;
      list-style: none;
    }
    li {
      border: 1px solid #b3c1cb;
    }