<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/mainpage/login.css">

			<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
</style>
</head>
<body>
				<th><img src="/img/logo4.png" class="title"></th>			
	<div class="container">
		<table>
			<thead>
			</thead>
			<tr>
				<td id="id"><input class="id" placeholder="아이디를 입력하세요." ></td>
			</tr>
			<tr>
				<td id="pw"><input class="pw" placeholder="비밀번호를 입력하세요."></td>
			</tr>
			<tr>
				<td><a id="btn" href="mainpage"/><button type="button" class="btn" onclick="mainpage" >로그인</button></td>
			</tr>
		</table>	
	</div>

</body>
</html>