<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>출하 등록</title>
	<link rel="stylesheet" href="common/global.css">
	<link rel="stylesheet" href="common/header.css">
	<link rel="stylesheet" href="consignmentmanagement/addproductconsignment.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

	$(function () {
		$('.add_product_consignment').submit(function (r) {
		});
		 $('#openorderlist').click(function () {
         console.log("qweasd");
         let data = `search=${$("#search_po_p").val()}`;
         $.ajax({
            url: '/AddProductConsignment/orderlist',
            data: data,
            type: 'post',
            dataType: 'json',
            success: function (r) {
               console.log(r);
               $(".orderpopBg").show();
               var tag = "";
               if (r.length === 0) {
                  tag = "<tr><td colspan=7'>일치하는 정보가 없습니다.<td></tr>";
                  $('.list').html(tag);   
               }else {
                  
                  for (let i = 0; i < r.length; i++) {
                     tag += `<tr>`;
                     tag += `<td>${ r[i].sNum}</td>`;
                     tag += `<td>${ r[i].dateOrder}</td>`;
                     tag += `<td>${ r[i].dateReceived}</td>`;
                     tag += `<td>${ r[i].cNum}</td>`;
                     tag += `<td>${ r[i].address}</td>`;
                     tag += `<td>${ r[i].pNum}</td>`;
                     tag += `<td>${ r[i].sAmount}</td>`;
                     tag += `</tr>`;
                  }
               $('.list').html(tag);
               }
            }
         });
      });
   });
	function closeorderpopUp() {
		$(".orderpopBg").hide();
	}
	function opendriverpopUp() {
		$(".driverpopBg").show();
	}
	function closedriverpopUp() {
		$(".driverpopBg").hide();
	}

	function selectorder(orderNo) {
		// 주문 번호를 입력 상자에 자동으로 입력
		document.getElementById("orderNoInput").value = orderNo;
		window.opener.selectorder(orderNo); // 부모 창의 함수 호출
		window.close();
	}

</script>

<body>
	<th:block th:insert="header/header.html"></th:block>
	<!-- 출하등록 -->
	<div id="addaddproduct_container" class="addproduct">
		<ul class="menu1" style="width: 500px;">
			<li>
				<a href="#">
					<img src="img/home.png" width="40" height="40" viewBox="0 0 51 51">
				</a>
			</li>
			<div style="margin-top: 15px;" width="300px" id="menu2">
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하 관리</h4>
				</li>
				<li>
					<img src="img/arrow_right_pink.png" width="12" height="20" viewBox="0 0 17 29">
				</li>
				<li>
					<h4>출하 등록</h4>
				</li>
			</div>
		</ul>
		<br />
		<br />
		<br />
		<h3>출하 등록</h3>
		<form class="add_product_consignment" action="#" method="post" enctype="multipart/form-data">
			<div id="table_div">
				<table id="table1">
					<tr>
						<th>수주 번호<span style="color: red">*</span></th>
						<td colspan="3"><input type="text" readonly />
							<button type="button" id="openorderlist" onclick="openorderpopUp()">조회</button>
						</td>
					</tr>
					<tr>
						<th>접수일자<span style="color: red">*</span></th>
						<td><input type="text" readonly /></td>
						<th>납기일자<span style="color: red">*</span></th>
						<td><input type="text" readonly /></td>
					</tr>
					<tr>
						<th>사업자번호<span style="color: red">*</span></th>
						<td>
							<input type="text" id="consumerName" readonly />
						</td>
						<th>주소</th>
						<td><input type="text" id="consumerAddress" readonly></td>
					</tr>
					<!--<tr>
						<th>특이 사항</th>
						<td colspan="3"><textarea placeholder="특이사항을 입력해주세요." name="memo" id="memo" cols="30"
								rows="10"></textarea></td>
					</tr>-->
				</table>

				<br />
				<table id="table2">
					<thead>
						<tr>
							<th style="width: 350px;">품목 번호</th>
							<th style="width: 100px;">요청 수량</th>
							<th>출하 시작일</th>
							<th style="width: 100px;">출하 수량</th>
							<th>기사 번호</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" id="productNoInput" readonly />
							</td>
							<td>
								<input type="text" placeholder="0" readonly />개
							</td>
							<td>
								<input type="date" />
							</td>
							<td>
								<input type="text" placeholder="0" />개
							</td>
							<td>
								<input type="text" placeholder="기사 번호 조회" readonly />
								<button type="button" id="opendriverlist" onclick="opendriverpopUp()">조회</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="btn" style="float: right">
					<button id="btn_back"><a href="ConsignmentManagement">돌아가기</a></button>
					<button id="btn_add" onclick="btn_add()">등록</button>
				</div>
			</div>
		</form>
	</div>
	<!--orderlist popup-->
	<div class="orderpopBg">
		<div class="orderpopcon" style="width: 1050px;">
			<span class="close" onclick="closeorderpopUp()" style="width: 30px;">×</a></span>
			<br>
			<h3>주문 리스트</h3>
			<div id="search">
				<select>
					<option value="orderNo">수주 번호</option>
					<option value="comNo">사업자번호</option>
				</select>
				<input type="text" placeholder="검색">
				<button>검색</button>
			</div>
			<br>
			<br>
			<table id="order_list">
				<thead>
					<th style="width: 100px" id="sNum">수주 번호</th>
					<th style="width: 150px" id="dateOrder">접수 일자</th>
					<th style="width: 150px" id="dateReceived">납기 일자</th>
					<th style="width: 200px" id="cNum">사업자번호</th>
					<th style="width: 300px" id="address">주 소</th>
					<th style="width: 100px" id="pNum">품목 번호</th>
					<th style="width: 80px" id="sAmount">요청 수량</th>
				</thead>
				<tbody id="order_data">
					<!-- 리스트 정보 받아오기 -->
					<tr id="order_info" th:each="Consignment : ${order_info}">
					<td id="orderNo">
						<a href="#" onclick="d">[[${orderlist.sNum}]]</a>
					</td>
					<td>[[${orderlist.dateOrder}]]</td>
					<td>[[${orderlist.dateReceived}]]</td>
					<td>[[${orderlist.cNum}]]</td>
					<td>[[${orderlist.address}]]</td>
					<td>[[${orderlist.mNum}]]</td>
					<td>[[${orderlist.sAmount}]]</td>
				</tbody>
			</table>
		</div>
	</div>
	<!--	<button id="close">닫기</button>-->
	</div>
	<!--driverlist popup-->
	<div class="driverpopBg">
		<div class="driverpopcon" style="width: 300px;">
			<span class="close" onclick="closedriverpopUp()" style="width: 30px;">×</a></span>
			<br>
			<h3>기사 리스트</h3>
			<div id="search">
				<select>
					<option value="orderNo">기사 코드</option>
					<option value="comNo">연락처</option>
				</select>
				<input type="text" placeholder="검색" style="width: 150px;">
				<button>검색</button>
			</div>
			<br>
			<br>
			<table id="driver_list">
				<thead>
					<th style="width: 100px">기사 코드</th>
					<th style="width: 200px">기사 연락처</th>
				</thead>
				<tbody id="driver_data">
					<!-- 리스트 정보 받아오기 -->
					<td>0</td>
					<td>0</td>
				</tbody>
			</table>
		</div>
	</div>
	<!--	<button id="close">닫기</button>-->
	</div>
</body>

</html>