<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/obtainorder/production_info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    function delete_business(){
		$.ajax({
			url : '/business/delete/'+$(this).parent().parent().children().first().text(),
			type : 'post',
			dataType : 'json',
			success:(r)=>{
				if(Number(r.count) == 0){
					alert(r.message);
					location.reload();
				}else{
					alert(r.message);
					console.log($(this).parent().parent());
					$(this).parent().parent().remove();
				}				
			}
		});
	}
    $(function(){
        $('.btn_delete').click(delete_business);
        $('.btn_upload').click(function(){
            window.location.href = 'production_info_upload.html';
        });
    });
    $(function() {
        // 각 행에 번호를 연속적으로 삽입
        $('#info tr').each(function(index) {
            $(this).find('td:first').text(index + 1);
        });
    });
</script>
<body>
    <div class="All">
        <div class="header">
            <a href="/mainpage">
            	<img src="/img/home.png" alt="" class="source" id="home">
            </a>
            <img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
            <a href="#" class="source" id="headText">수주관리</a>
            <img src="/img/arrow_right_pink.png" alt="" class="source" id="arrow">
            <a href="#" class="source" id="headText">제품정보</a>
        </div>
        <h1>제품정보</h1>
        <p class="inquire"><span class="count">{$($.btn_search)}개</span>의 데이터가 조회되었습니다.</p>
<div class="search_result">
    <div class="button">
        <button class="btn_click" id="all">전체("{$(count)}")</button>
        <button class="btn_click" id="complete">완제품("{$(count)}")</button>
        <button class="btn_click" id="half">반제품("{$(count)}")</button>
    </div>
    <div class="business_search">
        <img src="/img/search_icon.png" alt="" id="img_search">
        <input type="text" class="txt_search">
        <button class="btn_search">검색</button>
    </div>
</div>
    <table id="search_result">
        <tr>
            <th><input type="checkbox" class="check_all"></th>
            <th>번호</th>
            <th>이미지</th>
            <th>분류</th>
            <th>제품번호</th>
            <th>제품명</th>
            <th>규격</th>
            <th>BOX당 수량</th>
            <th>포장지당 중량</th>
            <th>유통기한</th>
            <th>가격(원)</th>
            <th>바코드</th>
        </tr>
        <tr id="info" th:each="pro : ${list}">
            <td><input type="checkbox" class="check_one"></td>
            <td>1</td>
            <td>[[${pro.pImg}]]</td>
            <td>[[${pro.sPhase}]]</td>
            <td>[[${pro.pNum}]]</td>
            <td>[[${pro.pName}]]</td>
            <td>[[${pro.pSize}]]</td>
            <td>[[${pro.boxCount}]]</td>
            <td>[[${pro.pWeight}]]</td>
            <td>[[${pro.pFinish}]]</td>
            <td>[[${pro.price}]]</td>
            <td>[[${pro.barcode}]]</td>
        </tr>
    </table>
    <div class="btn_area">
        <button value="button" class="btn_delete">삭제</button>
        <button value="button" class="btn_upload">등록</button>
    </div>
    </div>
</body>
</html>