<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.mapper.ConsignmentManagementMapper">
	<resultMap type="Consignment" id="Consignment">
		<id column="s_num" property="sNum" />
		<result column="date_order" property="dateOrder" />
		<result column="date_to_arrive" property="dateToArrive" />
		<result column="c_num" property="cNum" />
		<result column="address" property="address" />
		<result column="p_num" property="pNum" />
		<result column="s_amount" property="sAmount" />
		<result column="date_start_ship" property="dateStartShip" />
		<result column="ship_amount" property="shipAmount" />
		<result column="d_num" property="dNum" />
		<result column="ship_num" property="shipNum" />
		<result column="s_phase" property="sPhase" />
	</resultMap>
	<resultMap type="Driver" id="Driver">
		<id column="d_num" property="dNum" />
		<result column="d_contact" property="dContact" />
	</resultMap>

	<!-- 수주리스트 조회 -->
	<select id="obtainorderSearch" resultMap="Consignment"
		parameterType="String">
		select
		s.S_NUM , s.DATE_ORDER ,s.DATE_TO_ARRIVE , s.C_NUM
		, cs.ADDRESS , s.P_NUM ,
		s.S_AMOUNT
		from sell s, company_sell cs where
		s.C_NUM = cs.C_NUM and
		s.S_NUM=#{Obtainorder_search}
	</select>
	<select id="ConsignmentManagement" resultMap="Consignment">
		SELECT
		sh.SHIP_NUM,s.DATE_ORDER ,s.DATE_TO_ARRIVE,s.C_NUM ,s.P_NUM
		,sh.DATE_START_SHIP,s.S_AMOUNT ,sh.SHIP_AMOUNT,
		s.S_NUM
		,d.D_NUM,sh.S_PHASE FROM SELL s , DRIVER d, SHIPMENT sh where d.D_NUM
		= sh.D_NUM AND s.S_NUM =sh.S_NUM
	</select>
	<select id="DriverList" resultMap="Driver" parameterType="Map">
		SELECT * FROM DRIVER where
		<!--choose 사용 -->
		<choose>
			<when test="kind.equals('dNum')">
				and dNum like '%' || #{search} || '%'
			</when>
			<when test="kind.equals('dContact')">
				and dContact like '%' || #{search} || '%'
			</when>
			<otherwise>
				${kind} like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</select>
	<!-- ${kind} like '%'||#{search}||'%' -->
</mapper>







	 