<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.project.mapper.ConsignmentManagementMapper">
	<resultMap type="Consignment" id="Consignment">
		<id column="s_num" property="sNum" /> 
		<result column="date_order" property="dateOrder" />
		<result column="date_received" property="dateToArrive" />
		<result column="c_num" property="cNum" />
		<result column="address" property="address" />
		<result column="p_num" property="pNum" />
		<result column="s_amount" property="sAmount" />
		<result column="date_start_ship" property="dateStartShip" />
		<result column="ship_amount" property="shipAmount" />
		<result column="d_num" property="dNum" />
		<result column="ship_num" property="shipNum" />
		<result column="s_phase" property="sPhase" />
	</resultMap>
	<!-- 수주리스트 받기 -->
	<select id="vieworderlist" resultMap="Consignment">
		select s.S_NUM , s.DATE_ORDER , s.DATE_TO_ARRIVE , s.C_NUM , cs.ADDRESS , s.P_NUM , s.S_AMOUNT 
		from sell s, company_sell cs where s.C_NUM = cs.C_NUM
	</select>
</mapper>
	 